/* CSS Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: hsl(47, 88%, 63%);
  --white-color: hsl(0, 0%, 100%);
  --text-gray: hsl(0, 0%, 42%);
}

body {
  font-family: "Figtree", serif;
}



.figtree-500 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.figtree-800 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.main {
  background-color: var(--bg-color);
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 8px 8px 0 0 #000;
  gap: 12px;
  max-width: 21rem;
}

.card-image {
  border-radius: 10px;
  margin-bottom: 12px;
}

.learning {
  background-color: var(--bg-color);
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 4px;
  max-width: 70px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content-title {
  font-size: 1.5rem;
}

.content-title:hover {
  cursor: pointer;
  color: var(--bg-color);
}

.content-description {
  line-height: 150%;
  font-size: 16px;
  color: var(--text-gray);
}

.author {
  display: flex;
  gap: 12px;
  align-items: center;
}

@media (min-width: 320px) {
  .container {
    max-width: 17.5rem;
  }

  .card-image {
    width: 17rem
  }
}